<% @wish_lists.each do |wish_list| %>
<div class="index_row clearfix">
  <h2 class="wish_list_title"><%= link_to wish_list.name, wish_list%></h2>
</br>
  <p class="wish_list_sub_title"><%=wish_list.description%></p>
  </div>
  <%end%>
  <div class="links">
    <%=link_to "New Wish List",new_wish_list_path %>

  </div>
</div>
