<div class="row clearfix">
  <div class="complete">
    Hi
  </div>
<div class="wish_item"><%=wish_item.name%></div>
  <div class="trash">
<%= link_to wish_list_wish_item_path(@wish_list, wish_item.id), method: :delete, data: {confirm: "Are you sure?"} do %>
Trash
<%end%>
</div>
</div>
